/* MOBILE-FIRST LAYOUT */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

body {
	width: 100vw;
	height: 100%;
	padding-top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---------- Utilities */
/* ------ Font-sizes ONLY */
#ctn-main-title h1 {
	font-size: 12em;
}

.article-title h2 {
	font-size: 1.4em;
}

.article-date p,
.article-url p a {
	font-size: 0.9em;
}
/* ---------- Components */
/* ------ START - Upper section */
#header {
	position: fixed;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	z-index: 1;
}

#header .name {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
}

#header .icon {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.fa {
	text-decoration: none;
}

.fa-github {
	color: black;
	font-size: 2.5em;
}

.fa-github:hover {
	color: goldenrod;
	cursor: pointer;
}
/* ------ END - Upper section */
/* ------ START - Container Main Title */
#ctn-main-title {
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin-top: 150px;
}
/* --- Create scroll animation */
#ctn-main-title h1::after {
	content: attr(data-text);
	position: absolute;
	left: 120%;
	width: 100%;
	text-align: center;
}

#ctn-main-title .scroll {
	animation: scrollAnimation 10s linear infinite;
	animation-play-state: running;
}

@keyframes scrollAnimation {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-120%);
	}
}
/* ------ END -  Container Main Title */
/* ------ START - Container Articles */
#ctn-articles {
	width: 100vw;
	height: 100%;
}

.article {
	margin: 0 auto;
	width: 85%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 3px solid #ccc;
}

.article-title {
	width: 100%;
}

.article-details {
	width: 100%;
	line-height: 20px;
	display: flex;
	align-items: center;
}

.article-date {
	padding-right: 10px;
}

.article-url a {
	text-decoration: none;
	color: black;
}

.article-url a:hover {
	text-decoration: underline;
}

.article-url a:after {
	content: " \2192";
}
/* ------ END-  Container Articles */
/* ------ START - Container Button "Load More" */
#ctn-btn {
	width: 100%;
	height: 100px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadMoreBtn {
	border: none;
	padding: 10px 20px;
	font-weight: bold;
	color: white;
	background-color: black;
}

.loadMoreBtn:hover,
#btn-back-top:hover {
	cursor: pointer;
	background-color: goldenrod;
}
/* ------ END-  Container Button "Load More" */
/* ------ START - Button "Back to top" */
#btn-back-top {
	position: fixed;
	display: none;
	width: 35px;
	height: 35px;
	bottom: 33px;
	right: 30px;
	cursor: pointer;
	background-color: black;
	justify-content: center;
	align-items: center;
}

.fa-arrow-up {
	color: white;
}
/* ------ END - Button "Back to top" */
/* ------ START - Spinner Loader */
.loader {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 10%;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition:
		opacity 1s,
		visibility 1s;
}

.loader-hidden {
	opacity: 0;
	visibility: hidden;
}

.loader::after {
	content: "";
	width: 75px;
	height: 75px;
	border: 15px solid #dddddd;
	border-top-color: goldenrod;
	border-radius: 50%;
	animation: loading 0.75s ease infinite;
}

@keyframes loading {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(1turn);
	}
}
/* ------ END - Spinner Loader */
/* ------ START - Media Queries CSS */
/* Tablet screens */
@media screen and (min-width: 737px) {
	#header {
		padding: 0 60px;
	}

	.article-title h2 {
		font-size: 1.8em;
	}

	.article-date p,
	.article-url p a,
	.loadMoreBtn {
		font-size: 1.2em;
	}
}

/* Desktop or laptop screens (+Large) */
@media screen and (min-width: 1280px) {
	#header .name p {
		font-size: 1.2em;
	}

	.fa-github {
		font-size: 3em;
	}

	#ctn-main-title {
		margin-top: 180px;
	}

	#ctn-main-title h1 {
		font-size: 15em;
	}

	.article {
		flex-direction: row;
		height: 250px;
		justify-content: center;
	}

	.article-title h2 {
		font-size: 2em;
	}

	.article-details {
		width: 50%;
		justify-content: end;
	}
}

/* Extra-large desktop screens */
@media screen and (min-width: 1920px) {
	#ctn-main-title h1 {
		font-size: 18em;
	}
}
/* ------ END - Media Queries CSS */
