/* MOBILE-FIRST LAYOUT */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

body {
	width: 100vw;
	height: 100%;
	padding-top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ------ START - Upper section */
#upper-section {
	position: fixed;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	z-index: 1;
}

#upper-section .ws-name {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
}

#upper-section .ws-name p {
	font-size: 1em;
}

#upper-section .icon {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}

#upper-section .icon a i {
	color: black;
	text-decoration: none;
	font-size: 2.5em;
}

#upper-section .icon a i:hover {
	color: goldenrod;
	cursor: pointer;
}
/* ------ END - Upper section */
/* ------ START - Container Main Title */
#ctn-main-title {
	width: 100%;
	height: 200px;
	margin-top: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

#ctn-main-title h1 {
	font-size: 12em;
}

/* --- Create scroll animation */
#ctn-main-title h1::after {
	content: attr(data-text);
	position: absolute;
	left: 120%;
	width: 100%;
	text-align: center;
}

#ctn-main-title .scroll {
	animation: scrollAnimation 10s linear infinite;
	animation-play-state: running;
}

@keyframes scrollAnimation {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-120%);
	}
}
/* ------ END-  Container Main Title */
/* ------ START - Container Articles */
#ctn-articles {
	width: 100vw;
	height: 100%;
}

.article {
	margin: 0 auto;
	width: 85%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid #ccc;
}

.title {
	width: 100%;
}

.title h2 {
	font-size: 1.2em;
}

.article-details {
	width: 40%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.date {
	padding-right: 10px;
}

.date p,
.url p {
	text-align: center;
}

.date p,
.url p a {
	font-size: 0.8em;
}

.url a {
	text-decoration: none;
	color: black;
}
.url a:hover {
	text-decoration: underline;
}

.url a:after {
	content: " \2192";
}
/* ------ END-  Container Articles */
/* ------ START - Container Button "Load More" */
#ctn-btn {
	width: 100%;
	height: 100px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadMoreBtn {
	border: none;
	padding: 10px 20px;
	font-size: 1em;
	font-weight: bold;
	color: white;
	background-color: black;
}

.loadMoreBtn:hover,
.btn-back-top:hover {
	cursor: pointer;
	background-color: goldenrod;
}
/* ------ END-  Container Button "Load More" */
/* ------ START - Button "Back to top" */
.btn-back-top {
	display: none;
	width: 30px;
	height: 30px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	background-color: black;
	justify-content: center;
	align-items: center;
}

.btn-back-top .fa-arrow-up {
	font-size: 1.2em;
	color: white;

	text-decoration: none;
}
/* ------ END - Button "Back to top" */
/* ------ START - Spinner Loader */
.loader {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 10%;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition:
		opacity 1s,
		visibility 1s;
}

.loader-hidden {
	opacity: 0;
	visibility: hidden;
}

.loader::after {
	content: "";
	width: 75px;
	height: 75px;
	border: 15px solid #dddddd;
	border-top-color: goldenrod;
	border-radius: 50%;
	animation: loading 0.75s ease infinite;
}

@keyframes loading {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(1turn);
	}
}
/* ------ END - Spinner Loader */
/* ------ START - Media Queries CSS */
/* Tablet in landscape mode (horizontal) */
@media screen and (min-width: 737px) and (max-width: 1279px) {
	#upper-section {
		padding: 0 60px;
	}

	#upper-section .icon a i {
		font-size: 3em;
	}

	#ctn-main-title h1 {
		font-size: 12em;
	}

	.title h2 {
		font-size: 1.5em;
	}

	.date p,
	.url p a {
		font-size: 1em;
	}

	.loadMoreBtn {
		font-size: 1em;
	}
}

/* Desktop or laptop screens */
@media screen and (min-width: 1280px) and (max-width: 1689px) {
	#upper-section {
		padding: 0 60px;
	}

	#upper-section .ws-name p {
		font-size: 1.2em;
	}

	#upper-section .icon a i {
		font-size: 3em;
	}

	#ctn-main-title h1 {
		font-size: 15em;
	}

	.title h2 {
		font-size: 1.8em;
	}

	.date p,
	.url p a {
		font-size: 1em;
	}

	.loadMoreBtn {
		font-size: 1.2em;
	}
}

/* Large or high-resolution screens */
@media screen and (min-width: 1690px) {
	#upper-section {
		padding: 0 60px;
	}

	#upper-section .ws-name p {
		font-size: 1.2em;
	}

	#upper-section .icon a i {
		font-size: 3em;
	}

	#ctn-main-title h1 {
		font-size: 15em;
	}

	.title h2 {
		font-size: 2em;
	}

	.date p,
	.url p a {
		font-size: 1.2em;
	}

	.loadMoreBtn {
		font-size: 1.2em;
	}

	.btn-back-top {
		width: 35px;
		height: 35px;
	}
}
/* ------ END - Media Queries CSS */
